<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ block "title" . }}Go Coa Debugger{{ end }}</title>
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
<nav>
    <a>{{ block "header" . }}Go Coa Debugger{{ end }}</a>
    {{ block "nav" .}}{{ end }}
</nav>
{{ block "body" . }}{{ end }}
<nav class="w3-bar-block">
    <a href="https://gitlab.com/coalang/go-coa">Go Coa Debugger</a>
    <a href="https://colourdelete.gitlab.io">By Ken Shibata</a>
    <a href="#" class="w3-right"><abbr title="Page Generation Time">{{ time }}</abbr></a>
</nav>
</body>
</html>