{{ template "base.html" . }}

{{ define "title" }}
    {{ if nn .err }}
        ❌
    {{ end }}
    {{ renderCoa .ref }}
{{ end }}

{{ define "header" }}
    {{ if nn .err }}
        ❌
    {{ end }}
    {{ $ids := renderRefIDs .ref }}
    <code>
        <a href="/ref"><i>root</i></a>
        {{ range $i, $id := $ids }}
            <a href="/ref/{{ range $j, $id2 := $ids }}{{ if le $j $i }}{{ $id2 }}{{ if ne (sub1 $j) $i }}.{{ end }}{{ end }}{{ end }}">{{ $id }}{{ if ne $i (sub1 (len $ids)) }}.{{ end }}</a>
        {{ end }}
    </code>
{{ end }}

{{ define "nav" }}
    <a href="#">{{ check (.scope.IsPure) "Pure" "Impure" }}</a>
    <a href="file://{{ .ctx.Filepath }}"><code>{{ print .ctx }}</code></a>
    <a href="/resume" class="w3-right">▶ Resume <code>{{ .label }}️</code></a>
{{ end }}

{{ define "body" }}
    {{ if ne .err nil }}
        <code>
            {{ .err }}
        </code>
    {{ else }}
        <div class="w3-half" style="overflow: auto;">
            <h2>Node <code>{{ printf "%T" .node }}</code></h2>
            <table>
                {{ if nn .node }}
                    <tr>
                        <th>Context</th>
                        <td><code>{{ .node.Ctx }}</code></td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td><code>{{ renderCoa .node.Type }}</code></td>
                    </tr>
                    <tr>
                        <th>Pure</th>
                        <td>
                            {{ check .node.IsPure "Pure" "Impure" }}
                        </td>
                    </tr>
                    <tr>
                        <th>Zero</th>
                        <td>
                            {{ check .node.IsZero "Zero" "Non-zero" }}
                        </td>
                    </tr>
                {{ else }}
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                {{ end }}
            </table>
            {{ if nn .node}}
                <pre>
                {{ renderCoa .node }}
                </pre>
            {{ end }}
        </div>
        <div class="w3-half" style="overflow: auto;">
            <h2>Subnodes</h2>
            {{ $subnodes := subnodes .node }}
            {{ if eq 0 (len $subnodes) }}
                <i>No subnodes</i>
            {{ else }}
                <table id="subnode">
                    <tr>
                        <th>Name</th>
                        <th>Context</th>
                        <th>Pure</th>
                        <th>Zero</th>
                        <th>Type</th>
                        <th>Node</th>
                    </tr>
                    {{ range $key, $val := $subnodes }}
                        <tr id="subnode-{{ $key }}">
                            <td>
                                <a href="{{ if $.root }}{{ "ref/" }}{{ else }}{{ renderRefComma $.prefixRef }}{{ end }}{{ escape $key }}"><code>{{ $key }}</code></a>
                            </td>
                            {{ if nn $val }}
                                <td><code>{{ .Ctx }}</code></td>
                                <td>
                                    {{ check .IsPure "Pure" "Impure" }}
                                </td>
                                <td>
                                    {{ check .IsZero "Zero" "Non-zero" }}
                                </td>
                                <td><pre>{{ renderCoa .Type }}</pre></td>
                                <td><pre>{{ renderCoa . }}</pre></td>
                            {{ else }}
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            {{ end }}
                        </tr>
                    {{ end }}
                </table>
            {{ end }}
        </div>
    {{ end }}
{{ end }}