@use 'w3.css';

body {
  margin: 0;
  padding: 0;
}

* {
  @extend .w3-mobile;
}

pre, code {
  font-family: monospace;
}

.sticky-top {
  position: sticky;
  top: 0;
}

nav {
  @extend .w3-card;
  @extend .w3-bar;
  @extend .sticky-top;
  background-color: #fff;
  width: 100%;

  a {
    @extend .w3-bar-item;
  }
}

tr:nth-child(odd) {
  background: #eee;
}

h1, h2, h3, h4, h5, h6 {
  @extend .w3-panel;
  margin: 0;
}
